<ul class="nav nav-pills" style="background:{{ color|default('red') }};padding:1em;">
    <li role="presentation"{{ app.request.get('_route')=='login' ? ' class="active"'}}><a href="{{ path('login') }}">Login</a></li>
</ul>
